= content_tag :div,
              '',
              id: 'topPageCanvas',
              class: 'set-size',
              data: { controller: 'static-pages',
              ant: image_path('ant/original_ant.gltf')}
