== render 'shared/marquee'
= content_tag :div,
              '',
              id: 'topPageCanvas',
              class: 'set-size',
              data: { controller: 'static-pages',
              ant: image_path('ant/original_ant.gltf'),
              japanese_font: image_path('japanese_font.json')}
== render 'description'