// Colors
$bg-color: #c9b9a8;
$dot-color: #d3d3d3;

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}

.scrollable-menu {
  height: auto;
  max-height: 30vh;
  overflow-x: hidden;
}

.tweet-image {
  width: 30vw;
  height: auto;
}

.footer {
  margin-top: auto;
}

h1 {
  position: relative;
  margin: 30px;
  text-align: center;
}

h1:before,
h1:after {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  display: block;
  content: '';
  border: 1em solid #c5df51;
}

h1:before {
  left: -30px;
  border-left-width: 15px;
  border-left-color: transparent;
}

h1:after {
  right: -30px;
  border-right-width: 15px;
  border-right-color: transparent;
}

h1 span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1rem 2rem;
  color: rgb(0, 0, 0);
  background: #e5fd78;
}

h1 span:before,
h1 span:after {
  position: absolute;
  bottom: -10px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  border-style: solid;
  border-color: #9bac50 transparent transparent transparent;
}

h1#error:before,
h1#error:after {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  display: block;
  content: '';
  border: 1em solid #df5151;
}

h1#error span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1rem 2rem;
  color: rgb(0, 0, 0);
  background: #fd7878;
}

h1#error span:before,
h1#error span:after {
  position: absolute;
  bottom: -10px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  border-style: solid;
  border-color: #ac5050 transparent transparent transparent;
}

h1 span:before {
  left: 0;
  border-width: 10px 0 0 10px;
}

h1 span:after {
  right: 0;
  border-width: 10px 10px 0 0;
}

.set-size {
  height: 80vh;
}

.link-to-button {
  display: block;
  text-decoration: none;
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  background: #990000;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 2px 2px 2px #666666;
}
.link-to-button:hover {
  text-decoration: none;
  color: #d9ff00;
  box-shadow: none;
}