.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input[type="text"] input[type="email"] {
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.header-form {
  background-color: rgb(164, 231, 200)!important;
}