.default-link {
  text-decoration: none;
  color: #000000;
}

.link-to-button {
  display: block;
  text-decoration: none;
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  background: #990000;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 2px 2px 2px #666666;
}
.link-to-button:hover {
  text-decoration: none;
  color: #d9ff00;
  box-shadow: none;
}

.link-to-button-info {
  display: block;
  text-decoration: none;
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  background: #00995e;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 2px 2px 2px #666666;
}
.link-to-button-info:hover {
  text-decoration: none;
  color: #ffffff;
  box-shadow: none;
}

.searched-tag-button {
  display: inline-block;
  text-decoration: none;
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background: #b3413c;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 2px 2px 2px #666666;
}
.searched-tag-button:hover {
  text-decoration: none;
  color: #ffffff;
  box-shadow: none;
}

.vibration {
  display: inline-block;
  animation: vibration-anime .1s  infinite;
}

@keyframes vibration-anime {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}