.default-link {
  text-decoration: none;
  color: #000000;
}

.link-to-button {
  display: block;
  text-decoration: none;
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  background: #990000;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 2px 2px 2px #666666;
}
.link-to-button:hover {
  text-decoration: none;
  color: #d9ff00;
  box-shadow: none;
}

.link-to-button-info {
  display: block;
  text-decoration: none;
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  background: #00995e;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 2px 2px 2px #666666;
}
.link-to-button-info:hover {
  text-decoration: none;
  color: #ffffff;
  box-shadow: none;
}